
services:
  postgres:
    image: postgres:latest
    restart: unless-stopped
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  browserless:
    image: ghcr.io/browserless/chrome:latest
    restart: unless-stopped
    ports:
      - "4001:3000"
    environment:
      - QUEUED=10
      - HEALTH=true
      - CONCURRENT=5
      - TOKEN=1234567890
    healthcheck:
      test:
        ["CMD", "curl", "-f", "http://localhost:3000/pressure?token=1234567890"]
      interval: 10s
      timeout: 5s
      retries: 10

  # As an alternative to browserless, you can also use a lightweight image like chromedp/headless-shell:latest
  # See https://docs.rxresu.me/self-hosting/docker#alternative-printer-options for more information.
  # chrome:
  #   image: chromedp/headless-shell:latest
  #   restart: unless-stopped
  #   ports:
  #     - "9222:9222"

  seaweedfs:
    image: chrislusf/seaweedfs:latest
    restart: unless-stopped
    command: server -s3 -filer -dir=/data -ip=0.0.0.0
    environment:
      - AWS_ACCESS_KEY_ID=seaweedfs
      - AWS_SECRET_ACCESS_KEY=seaweedfs
    volumes:
      - seaweedfs_data:/data
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "/dev/null", "http://localhost:8888"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

  seaweedfs-create-bucket:
    image: minio/mc:latest
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
        sleep 5;
        mc alias set seaweedfs http://seaweedfs:8333 seaweedfs seaweedfs;
        mc mb seaweedfs/reactive-resume --ignore-existing;
        exit 0;
      "
    depends_on:
      seaweedfs:
        condition: service_healthy

  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: reactive-resume:latest
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - NITRO_TRUST_PROXY=1
      - NITRO_PROXY_HEADER=x-forwarded-proto
      - APP_URL=https://rres.togomol.com
      - PRINTER_APP_URL=http://rres.togomol.com:3000
      # Printer
      - PRINTER_ENDPOINT=ws://browserless:3000/chrome?token=1234567890
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
      - S3_ENDPOINT=http://seaweedfs:8333
    volumes:
      - reactive_resume_data:/app/data
    ports:
      - "8084:3000"
    networks:
      default:
        aliases:
          - rres.togomol.com
    depends_on:
      postgres:
        condition: service_healthy
      browserless:
        condition: service_healthy
      seaweedfs-create-bucket:
        condition: service_completed_successfully
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      start_period: 10s
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  postgres_data:
  seaweedfs_data:
  reactive_resume_data:
